* {
    margin: 0;
    padding: 0;
}

.card {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 4px dotted black;
    margin: 25px;
    padding: 16px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.img {
    width: 210px;
    height: 100px;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
}

.card_title {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.card_text {
    margin-left: 16px;
    margin-right: 16px;
}