* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
}

.header {
    background-color: antiquewhite;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.button {
    background-color: red;
}

.content {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 20px;
    min-width: 300px;
}

@media (max-width: 655px) {
    .nav {
        flex-direction: row;
        min-width: 100vw;
        flex-grow: 1;
        gap: 20px;
        flex-wrap: wrap; 
    }
}

.nav .button {
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    flex-grow: 1;
    flex-basis: 300px;
}

.main .button {
    /* width: 300px; */
    height: 300px;
    flex: 1 0 auto;
    min-width: 300px;
}

.footer {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
