/* 
.bmp
.png
.jpg
.jpeg
.webp
.avif

.svg */


.tree-image {
    width: 400px;
    height: 400px;
}

.download-icon {
    transform: scale(3);
    /* width: 400px;
    height: 400px; */
}

.my-button {
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-button:hover {
    background-color: rgb(0, 255, 8);
}

.my-button:active {
    background-color: rgb(255, 98, 0);
}