
.link {
    color: black;
    
    &:visited {
        color: rgb(255, 0, 0);
    }

    &:hover {
        color: green;
    }
}




.button-1 {
    background-color: rgb(93, 93, 245);
    width: 300px;
    height: 200px;
    transition:
        background-color 0.3s,
        width 3s;
}


.button-1:hover {
    background-color: rgb(238, 13, 62);
}

.button-1:active {
    background-color: rgb(13, 238, 81);
    width: 210px;
}

.button-1:focus {
    background-color: violet
}

/* .list-child:nth-child(even) {
    background-color: rgb(240, 229, 208);
} */

.list-child:nth-child(5n) {
    background-color: rgb(139, 155, 243);
}

.list-child:nth-child(5n+1) {
    background-color: rgb(118, 137, 243);
}

.list-child:nth-child(5n+2) {
    background-color: rgb(81, 104, 238);
}

.list-child:nth-child(5n+3) {
    background-color: rgb(118, 137, 243);
}

.list-child:nth-child(5n+4) {
    background-color: rgb(139, 155, 243);
}