* {
    margin: 0;
    padding: 0;
}

.cardContainer {
    background-color: lightsteelblue;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    max-width: 300px;
    width: 200px;
    min-width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardHeader {
    text-align: center;
}

.cardBody {
    text-align: center;
}
