* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    /* border: 1px solid black; */
}

.unorderedList {
    display: flex;
    gap: 20px;
}

.anchor {
    text-decoration: none;
    /* color: black; */
}

.main {
    flex-grow: 1;
    padding: 20px 40px;
}

.mainHeader {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.imageDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    width: 35vw;
}

.text {
    margin-bottom: 20px;
}

.card {
    position: relative;
}

.cardButton {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #e9c12b;
    cursor: pointer;
    transition: all 1s ease;
}

.cardButton:hover {
    transform: scale(1.1);
}

.footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footerLinks {
    display: flex;
    gap: 20px;
}

.footerAnchor {
    color: rgb(248, 101, 101);
}