* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: antiquewhite;
    padding: 16px;
}

.main {
    background-color: azure;
    padding: 32px 16px;
    /* padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px; */
}

.footer {
    background-color: blanchedalmond;
    padding: 16px;
}