* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: lightsteelblue;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: 
        "child1 child2 child2 child2"
        "child1 child5 child6 child3"
        "child1 child5 child7 child3"
        "child1 child4 child4 child3";
}

@media (width <= 700px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        grid-template-areas: 
            "child2 child2 child2"
            "child1 child4 child4"
            "child1 child5 child3"
            "child1 child5 child3"
            "child1 child6 child3"
            "child9 child7 child8";
        }
}

@media (width <= 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
        grid-template-areas: 
            "child1"
            "child2"
            "child3"
            "child4"
            "child5"
            "child6"
            "child7";
        }

    .child8, .child9 {
        display: none;
    }
}


.child1 {
    background-color:aliceblue;
    grid-area: child1;
}

.child2 {
    background-color: antiquewhite;
    grid-area: child2;
}

.child3 {
    background-color:azure;
    grid-area: child3;
}

.child4 {
    background-color:beige;
    grid-area: child4;
}

.child5 {
    background-color: bisque;
    grid-area: child5;
}

.child6 {
    background-color: black;
    grid-area: child6;
}

.child7 {
    background-color:whitesmoke;
    grid-area: child7;
}

.child8 {
    grid-area: child8;
}

.child9 {
    grid-area: child9;
}
