* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: gray;
    width: 50vw;
    height: 20vh;
}

@media (min-width: 600px) {
    .background {
        background-color: red;
        width: 100vw;
        height: 20vh;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .background {
        font-size: 18px;
    }
}


/* 1 variant */
.container {
    padding: 20px;
    background-color: blue;
    width: 100%;
    box-sizing:border-box;
    display: flex;
    flex-wrap: wrap;
}

.firstChild {
    background-color: green;
    height: 200px;
    flex: 1;
    min-width: 344px;
}

.seconChild {
    background-color: yellow;
    height: 200px;
    flex: 1;
    min-width: 344px;
}

/* 2 variant */
.container2 {
    padding: 20px;
    background-color: blue;
    width: 100%;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
    }
}


.firstChild2 {
    background-color: green;
    min-height: 200px;
    flex: 1;
}

.seconChild2 {
    background-color: yellow;
    min-height: 200px;
    flex: 1;
}


/* 3 variant */
.container3 {
    padding: 20px;
    background-color: blue;
    width: 100%;
    box-sizing:border-box;
}

.firstChild3 {
    background-color: green;
    height: 200px;
}


.seconChild3 {
    background-color: yellow;
    height: 200px;
}

@media (max-width: 768px) {
    .firstChild3 {
        display: inline-block;
        width: 49%;
    }

    .seconChild3 {
        display: inline-block;
        width: 49%;
    }
   
}