* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(130, 130, 250);
    display: flex;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.card {
    border-radius: 20px;
    border: 1px solid black;
    max-width: 200px;
    overflow: hidden;
    font-size: 12px;
}

.card-content {
    padding: 4px 10px 10px 10px;
    position: relative;
    background-color: rgb(191, 191, 245);
    margin-top: -4px;
}

.image {
    width: 100%;
}

.title {
    text-align: center;
}

.description {
    text-align: center; 
    /* text-wrap: balance; */
}

.star {
    position: absolute;
    top: -65px;
    right: 5px;
    color: yellow;
    font-size: 50px;
}

.button {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
}

.button:hover {
    background-color: rgb(81, 81, 171);
    color: aliceblue;
}