.button {
    width: 150px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s;
    border: none;

    &:focus {
        border: 2px solid black;
    }
}

.button-primary {
    background-color: rgb(255, 166, 0);
    color: black;
    font-weight: 800;
    transition: all 0.4s;

    &:hover {
        background-color: rgb(54, 54, 54);
        color: rgb(255, 166, 0)
    }

    &:active {
        background-color: black;
        transform: scale(0.98);
    }

    
}

.button-secondary {
    background-color: rgb(102, 101, 101);
    color: wheat;

    &:hover {
        background-color: rgb(54, 54, 54);
        color: rgb(255, 166, 0);
    }

    &:active {
        background-color: black;
        transform: scale(0.98);
    }
}

.button-submit {
    background-color: green;
    color: white;

    &:hover {
        background-color: rgb(100, 161, 2);
    }

    &:active {
        background-color: black;
        transform: scale(0.98);
        background-color: rgb(128, 206, 2);

    }
}

.button-cancel {
    background-color: rgb(186, 0, 0);
    color: white;

    &:hover {
        background-color: rgb(226, 2, 2);
    }

    &:active {
        background-color: black;
        transform: scale(0.98);
        background-color: rgb(255, 0, 109);
    }
}