<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <title>Document</title>
</head>
<body>
    <button class="button button-primary">Primary button</button>
    <br>
    <br>
    <button class="button button-secondary">Secondary button</button>
    <br>
    <br>
    <button class="button button-submit">Submit button</button>
    <br>
    <br>
    <button class="button button-cancel">Cancel button</button>
</body>
</html>