* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

.wrapper {
    background-color: red;
    max-width: 600px;
    height: 600px;
    font-size: 1.25em;
}

.px {
    overflow-y: hidden;
}

.px2 {
    background-color: green;
    width: 400px;
}

.px3 {
    background-color: blue;
    width: 800px;
}

.percentage-1 {
    width: 50%;
    background-color: blueviolet;
}

.percentage-2 {
    width: 100%;
    background-color: aqua;
}

.percentage-3 {
    /* width: 25%; */
    width: 10rem;
    background-color: cadetblue;
}

.em-1 {
    font-size: 2rem;
    /* 16*1.25*2 = 40px*/
}

.em-2 {
    font-size: 3rem;
}

.vw-1 {
    background-color: yellow;
    width: 10vw;
    height: 20vh;
}

.vw-2 {
    background-color: violet;
}