* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Betania Patmos", cursive;
    font-size: 16px;
    font-weight: 400;
    color: rgb(73, 62, 56);
}

.header {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.textarea {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.fieldset {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.label {
    margin-top: 8px;
}

.fieldset {
    margin-top: 8px;
}

.button {
    margin-top: 8px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    min-width: 150px;
    align-self: center;
    cursor: pointer;
}
