* {
    margin: 0;
    padding: 0;
} 

.cards {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
}

.card {
    width: 300px;
    background-color: #f3f5f2;
    padding: 16px;
    border-radius: 16px;
}

.image {
    width: 100%;
}

.productName {
    color: #015298;
    margin-bottom: 8px;
    text-align: center;
}

.productInfo {
    margin-top: 16px;
    text-align: justify;
}

.productInfoSecond {
    margin-top: 0px;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.productPrice {
    font-size: 24px;
}

.currency {
    font-size: 16px;
}

.stars {
    font-size: 8px;
}

.cardButton {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #3682b8;
    letter-spacing: 0.3px;
    border: none;
    border-radius: 8px;

    &:hover {
        background-color: #26608a;
        cursor: pointer;
    }
}
